<html>
<head>
<title>Mailroom</title>
</head>
<body>
	<nav>
	<a id="all" href="{{ url_for('all') }}">All Donations</a>
	<a id="create" href="{{ url_for('create') }}">Make a New Donation</a>
	</nav>
	<h1>My Donations</h1>
	<h2>{% block subtitle %} {% endblock subtitle %}</h2>
	{% block content %} {% endblock content %}
</body>
</html>
